.App::before{
  content: '';
  display: block;
  height: 50px;
  width: 100%;
  background-color: #007FB5;
}
.main{
  display: flex;
}
.search{
  height: calc(100vh - 50px);
  border-right: solid 2px #979797;
  width: 50vw;
}
.graph{
  background-color: red;
  width: 50vw;
  height: 200px;
}
.search-result{
  display: flex;
  width: 300px;
  justify-content: space-between;
}
