.App::before {
	content: '';
	display: block;
	height: 50px;
	width: 100%;
	background-color: #007fb5;
}
.main {
	display: flex;
}
.search {
	height: calc(100vh - 50px);
	border-right: solid 2px #979797;
	width: 50vw;
	padding: 3%;
}

.graph {
	width: 50vw;
	padding: 10px;
}
.search-form {
	display: flex;
	margin-top: 10px;
}

.search-form input{
	border: solid 1px;
}

.search-form:active input,
.search-form:focus input {
	outline: none !important;
	border-color: #007fb5;
}
.search-form:active input[type='submit'],
.search-form:focus input[type='submit'] {
	color: #007fb5;
}

.form-input {
	width: 60%;
	max-width: 400px;
	margin-right: 20px;
	outline: none;
	padding: 10px;
}

.form-btn {
	padding: 5px;
	width: 50px;
	font-size: 20px;
	font-weight: bold;
}

.graph div{
	margin: 0 auto;
	max-width: 100%;
	height: 400px;
}

@media only screen and (max-width: 1000px) {
	.main{
		flex-direction: column;
	}
	.search, .graph{
		width: auto;
	}
	.search{
		border: none;
		height: auto;
	}
	.result-figures{
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.search{
		padding: 30px;
	}
	.result-figures {
		flex-direction: column;
	}
	.quoteData {
		margin-top: 20px;
	}
}